* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

:root {
  --text-color: #000101;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  background-color: #fff;
  margin: 0%;
  padding: 0%;

}





.flex-column {
  display: flex;
  flex-direction: column;
}

.flex {
  display: flex;
  justify-content: center;
}

/* ----------
  TopBar-Start
-------------*/
.topbar {
  position: sticky;
  width: 100%;
  top: 0%;
  font-size: 1rem;
  display: flex;
  align-items: center;
  color: #000101;
  background-color: #fff;
  border-bottom: 1px solid #000;
  padding: 0.500rem;
  display: flex;
  justify-content: space-around;
  z-index: 1;
}

.topbar>.top-bar {
  list-style: none;
  display: flex;
  flex-direction: row;
}

.nav-list {
  margin-right: 1rem;
}


.nav-list>a {
  text-decoration: none;
  color: var(--text-color);
  padding: 0.25rem;
  border-radius: 0.25rem;
  border: 1px solid #000;
  transition-property: box-shadow;
  transition-timing-function: ease-out;
  cursor: pointer;
  transition-duration: 0.14s;
  transition-delay: 0s;
}

.nav-list>a:hover {
  box-shadow: 0.25rem 0.25rem 0 0 #000;
  transform: translate(-0.25rem, -0.25rem);
}



.active {
  box-shadow: 0.25rem 0.25rem 0 #000;
  background-color: #ff90e8;
  color: #fff;
  transform: translate(-0.25rem, -0.25rem);
  border-radius: 0.25rem;
}

/* ----------
  TopBar-End
-------------*/


/* -------
row-col-start
-------- */
.col-1 {
  float: left;
  width: 100%;
}

.col-2 {
  float: left;
  width: 50%;
  padding: 10px;

}

.col-3 {
  float: left;
  width: 33.33%;
  padding: 10px;

}

.col-4 {
  float: left;
  width: 25%;
  padding: 10px;
}

.col-7 {
  float: left;
  width: 70%;
  padding: 10px;

}

.row::after {
  content: '';
  display: table;
  clear: both;
}

/* -------
row-col-end
-------- */


/* ---
Home-start
-----*/

#home {
  height: 90vh;
  margin: 0;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  /* padding-top: 5rem; */

}

.bg {
  position: absolute;
  top: 10%;
  right: 0%;
  width: 500px;
  animation: myAnim 3s ease-in-out 0s infinite alternate;
}

@keyframes myAnim {
  form {

    transform: translateY(-5%);
  }

  to {

    transform: translateY(5%)
  }
}

.flex-text {
  position: absolute;
  left: 5rem;
  display: flex;
  flex-direction: row;
  align-content: center;
  font-family: 'Roboto', sans-serif;
  cursor: default;
  font-size: 15vw;
  font-size: 10vh;
}

.top {
  bottom: 0%;
  left: 0%;
  position: relative;
  color: #000101;
  position: relative;
  /* animation: myAnim 3s ease 0s 1 normal forwards; */
  display: flex;
  flex-direction: row;
}

.top::after {
  position: absolute;
  content: 'Hai';
  color: var(--text-color);
  top: 0%;
  left: 0%;
  font-size: 15vw;
  font-size: 15vh;
  font-weight: bolder;
  transition: transform 0.500s ease;
}

.top::after :hover {
  transform: translateY(-10%);
}

.float {
  transition: transform 0.15s ease;
}

.float:hover {
  transform: translateY(-5%);
  cursor: default;
}

.scroll {
  position: absolute;
  transform: translateY(30%);
  bottom: 5%;
  left: 5rem;
  color: #000101;
  transition: transform 0.5s;
}

.scroll>a {
  text-decoration: none;
}



/* .top>a {
  text-decoration: none;
  color: #000;
} */

.scroll>a>button {
  display: inline;
  text-decoration: none;
  border: none;
  padding: 0.375rem 0.75rem;
  background-color: #fff;
  letter-spacing: 0.3ch;
  color: #000101;
  border-radius: 0.25rem;
  border: 1px solid #000;
  cursor: pointer;
  transition-property: box-shadow;
  transition-timing-function: ease-out;
  transition-duration: 0.14s;
  transition-delay: 0s;

}


.scroll>a>button:hover {
  box-shadow: 0.25rem 0.25rem 0 #000;
}

.scroll-btn>.fa-solid {
  transition-property: trasnsform;
  transition-timing-function: cubic-bezier(0.2, 0, 0.6, 1);
  transition-duration: 0.5s;
  transition-delay: 0s;
  transform: rotate(0);
}

.scroll:hover .scroll-btn>.fa-solid {
  transform: rotate(-360deg);
}

/* ---
Home-End
-----*/

/* ----
About-Start
----- */
#about {
  height: 90vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-top: 0.0625rem solid #000;
  border-bottom: 0.0625rem solid #000;

}

.card-profile {
  width: 80%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  background: #fff;
  color: var(--text-color);
  text-align: center;
  padding: 2em;
  border-radius: 0.25rem;
  border: 0.0625rem solid #000;
  transition-property: box-shadow;
  transition-duration: 0.14s;
  transition-timing-function: ease-out;
  transition-delay: 0s;

}




.card-profile:hover {
  box-shadow: 0.25rem 0.25rem 0 #000;
}



.about{
  text-align: left;
}


.profile-name {
  font-size: 2rem;
  line-height: 1.1;
  letter-spacing: 0.125rem;
}

.profile-link{
  display: flex;
  flex-direction: row;
}

.profile-btns{
  display: flex;
  justify-content: space-evenly;
}



.profile-body {
  font-weight: 300;

}



.connect-btn {
  display: inline-block;
  text-decoration: none;
  padding: 0.375rem 0.75rem;
  text-align: center;
  background-color: #000;
  color: #fff;
  cursor: pointer;
  border: 1px solid #000;
  border-radius: 0.25rem;
  transition-property: box-shadow, transform, background-color, color, border;
  transition-timing-function: ease-out;
  transition-duration: 0.14s;
  transition-delay: 0s;
}

.connect-btn:hover {
  box-shadow: 0.25rem 0.25rem 0 #000;
  transform: translate(-0.25rem, -0.25rem);
  background-color: #36a9ae;
  color: #fff;
  border: 1px solid #000;
  /* background: #36a9ae; */
}

.resume-btn {
  position: absolute;
  display: inline-block;
  text-decoration: none;
  padding: 0.375rem 0.75rem;
  text-align: center;
  background-color: #000;
  top: 43%;
  color: #fff;
  cursor: pointer;
  margin:0 0 0 40em ;
  border: 1px solid #000;
  border-radius: 0.25rem;
  transition-property: box-shadow, transform, background-color, color, border;
  transition-timing-function: ease-out;
  transition-duration: 0.14s;
  transition-delay: 0s;
}

.resume-btn:hover {
  box-shadow: 0.25rem 0.25rem 0 #000;
  transform: translate(-0.25rem, -0.25rem);
  background-color: #36a9ae;
  color: #fff;
  border: 1px solid #000;
}


.link>a {
  text-decoration: none;
  color: #000;
}

.git>a {
  text-decoration: none;
  color: #000;
}

.pin>a {
  text-decoration: none;
  color: #000;
}

.twit>a {
  text-decoration: none;
  color: #000;
}

.link>a:hover {
  text-decoration: none;
  color: #0e76a8;
}

.git>a:hover {
  text-decoration: none;
  color: #000101;
}

.pin>a:hover {
  text-decoration: none;
  color: #E60023;
}

.twit>a:hover {
  text-decoration: none;
  color: #00acee;
}

.card-foot {
  position: relative;
  padding: 1.100rem;
}

.foot-btn {
  display: inline-block;
  position: absolute;
  /* left: 10%; */
  bottom: 0%;
  text-decoration: none;
  width: 100%;
  text-align: center;
  border: none;
  vertical-align: center;
  background: #f4f4f0;
  border: 1px solid #000;
  border-radius: 0.25rem;
  padding: 0.550rem;
  cursor: pointer;
  color: #000101;
  transition-property: box-shadow;
  transition-duration: 0.14s;
  transition-timing-function: ease-out;
  transition-delay: 0s;
}

.foot-btn:hover {
  box-shadow: 0.25rem 0.25rem 0 #000;
  transform: translate(-0.25rem, -0.25rem);
}





.card-link {
  display: flex;
  justify-content: space-around;
  margin: 0%;
  padding: 0%;
  width: 125px;
  margin: 0 auto;

}

.tooltipro {
  position: relative;
}



.tooltipro {
  margin-left: 0.500rem;
  margin-top: 1rem;
  margin-bottom: 1rem
}

.tooltipro .tooltip-profile {
  position: absolute;
  top: 0%;
  left: -95%;
  padding: 1px 6px;
  background: #000;
  color: #fff;
  border: 1px solid #000;
  border-radius: 0.15rem;
  cursor: pointer;
  font-size: 15px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.tooltipro .tooltip-profile::before {

  content: '';
  position: absolute;
  background: #000;
  border-bottom: 1px solid #000;
  border-right: 1px solid #000;
  height: 9px;
  width: 9px;
  bottom: -16%;
  left: 40%;
  transform: rotate(45deg);
}

.tooltipro:hover .tooltip-profile {
  top: -120%;
  opacity: 1;
  pointer-events: auto;
}

.card-profile a {
  text-decoration: none;
  color: #808080;

}

.resume-btn {
  margin-top: 1rem;
}

/* ----
About-End
----- */

/* -----
Skill-Start
------- */
#skill {

  height: 90vh;
  margin: 0;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;

}

.card-skill {
  width: 18rem;
  text-align: start;
  background: #fff;
  color: #000;
  padding: 1rem;
  border-radius: 0.25rem;
  border: 0.0625rem solid #000;
  transition-property: box-shadow;
  transition-duration: 0.14s;
  transition-timing-function: ease-out;
  transition-delay: 0s;
}

.card-skill:hover {
  box-shadow: 0.25rem 0.25rem 0 #000;
}

.card-skill>a>button {
  border: none;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  padding: 0.375rem 0.75rem;
  border-radius: 0.25rem;
  cursor: pointer;
  background: #000;
  color: #fff;
  border: 1px solid #000;
  border-radius: 0.25rem;
  transition-property: box-shadow, transform, background-color, color, border;
  transition-duration: 0.14s;
  transition-timing-function: ease-out;
  transition-delay: 0s;
}

.card-skill>a>button:hover {
  box-shadow: 0.25rem 0.25rem 0 #000;
  transform: translate(-0.25rem, -0.25rem);
  background-color: #36a9ae;
  color: #fff;
  border: 1px solid #000;
}


.card-skill>h2 {

  font-family: 'Playfair Display', serif;
  font-size: 43px;
  cursor: default;

}

.bar-heading {
  position: relative;
}

.bar-percentage {
  position: absolute;
  top: 0%;
  right: 0%;
}

.progress-bar {
  position: relative;
  width: 100%;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 0.25rem;
  font-size: 1.25rem;
  height: 1em;
  line-height: 1.6;
  overflow: hidden;
}





.bar {
  background-color: #ff90e8;
  height: 100%;
}

.html {
  width: 90%;
}

.bootstrap {
  width: 90%;
}

.css {
  width: 90%;
}

.javascript {
  width: 70%;
}

.react {
  width: 70%;
}

.mongodb {
  width: 80%;
}

.nodejs {
  width: 70%;
}

.expressjs {
  width: 70%;
}

.github {
  width: 90%;
}

.aws {
  width: 70%;
}

/* -----
Skill-End
------- */

/* ----
Proj-Start
-------*/

#project {
  height: 130vh;
  margin: 0;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

}

.card-project {
  position: relative;
  max-width: 300px;
  height: auto;
  border: 0.0625rem solid #000;
  padding: 1em;
  border-radius: 0.25rem;
  transition-property: box-shadow;
  transition-timing-function: ease-out, ;
  transition-duration: 0.14s;
  transition-delay: 0s;
}

.card-project:hover {
  box-shadow: 0.25rem 0.25rem 0 #000;
}

.card-img {
  max-width: 300px;
  height: auto;
  cursor: pointer;
  transform: scale(.98);
  transition-property: transform;
  transition-timing-function: ease-in-out;
  transition-duration: .35s;
  transition-delay: 0s;
}

.card-img>img {
  width: 100%;
  box-shadow: 0.625rem 0.625rem 0.313 #ccc;
  border-radius: 0.25rem;
}

.card-img:hover {
  transform: scale(1);
}

.card-content {
  padding: 1em;
  text-align: center;
}

.card-tit::after {
  border: 1px solid #000;
}

.card-tit>h5 {
  font-size: 1.500rem;
  font-weight: 600;
}

.card-body {
  width: 100%;
}

.select-container {
  width: 100%;
  height: 40px;
  padding: 0.500rem 0 0.500rem 0;
  position: relative;
  text-align: center;
  cursor: default;
  outline: 0;
  border: 1px solid #000;
  border-radius: 0.25rem;
}



.select-head>.fa-solid {
  position: absolute;
  right: 5%;
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.2, 0, 0.6, 1);
  transition-duration: 0.5s;
  transition-delay: 0s;
  transform: rotate(0);
}

.select-container:hover .select-head>.fa-solid {
  transform: rotate(-180deg);

}

.select>li {
  text-decoration: none;
  list-style: decimal-leading-zero;

}

.select {
  text-align: left;
  background-color: #fff;
  height: auto;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 /6%);
  opacity: 0;
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition-duration: 0.5s;
  transition-delay: 0s;

}


.select-container:hover .select {
  opacity: 1;
  z-index: 1;
}



.card-btn {
  display: flex;
  justify-content: space-around;
}

.card-btn>.button {
  display: inline-block;
  text-decoration: none;
  padding: 0.375rem 0.75rem;
  background-color: #000;
  color: #fff;
  text-align: center;
  border: 1px solid #000;
  border-radius: 0.25rem;
  cursor: pointer;
  transition-property: box-shadow, transform, background-color, border;
  transition-timing-function: ease-out;
  transition-duration: 0.14s;
  transition-delay: 0s;
}

.card-btn>.button:hover {
  background-color: #36a9ae;
  border: 1px solid #000;
  box-shadow: 0.25rem 0.25rem #000;
  transform: translate(-0.25rem, -0.25rem);
}

/* ----
Proj-End
-------*/
/*---------- 
Contact-Start
-----------*/

#contact {

  background-color: #fff;
  height: 90vh;
  margin: 0;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;


}

.form {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  line-height: 1.5;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 1rem;
  background-color: #fff;
  border-radius: 0.25rem;
  border: 1px solid #000;
  background-clip: padding-box;
  appearance: none;
  transition-property: border-color, box-shadow;
  transition-duration: 0.15s 0.15s;
  transition-timing-function: ease-in-out ease-in-out;
  transition-delay: 0s 0s;
}

.form:focus {
  color: #000;
  background-color: #fff;
  border-radius: 0.25rem;
  border-color: #000;
  outline: 0;
  box-shadow: 0 0 0 0.20rem rgba(255, 144, 233, 0.314);
}

.col-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-btn {

  display: inline-block;
  text-decoration: none;
  align-items: center;
  padding: 0.375rem 0.75rem;
  background-color: #36a9ae;
  border: 1px solid #000;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 0.25rem;
  cursor: pointer;
  color: #fff;
  transition-property: box-shadow, transform;
  transition-duration: 0.14s;
  transition-timing-function: ease-out;
  transition-delay: 0s;
}



.form-btn:hover {
  box-shadow: 0.25rem 0.25rem 0 #000;
  transform: translate(-0.25rem, -0.25rem);
}



.scroll-top>a>button {
  display: inline;
  position: absolute;
  right: 10%;
  bottom: 10%;
  text-decoration: none;
  border: none;
  padding: 0.375rem 0.75rem;
  background-color: #fff;
  letter-spacing: 0.3ch;
  color: #000101;
  border-radius: 0.25rem;
  border: 1px solid #000;
  cursor: pointer;
  transition-property: box-shadow;
  transition-timing-function: ease-out;
  transition-duration: 0.14s;
  transition-delay: 0s;


}

.scroll-top>a {
  text-decoration: none;
}

.scroll-top>a>button:hover {
  box-shadow: 0.25rem 0.25rem 0 #000;
}

.scroll-btn>.fa-solid {
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.2, 0, 0.6, 1);
  transition-duration: 0.5s;
  transition-delay: 0s;
  transform: rotate(0deg);
  transform: rotate(0);

}



.scroll-top:hover .scroll-btn>.fa-solid {
  transform: rotate(-360deg);
}


.icons {
  position: fixed;
  width: 200px;
  left: 0%;
  top: 30%;
  display: flex;
  flex-direction: column;
}

.icons>a {

  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  padding: 10px;
  font-size: 22px;
  margin: 2px;
  text-align: right;
  transform: translate(-141px, 0%);
  transition-property: box-shadow, transform;
  transition-timing-function: ease-out;
  transition-duration: 0.5s;
  transition-delay: 1s 0s;
}

.icons>a:hover {
  transform: translate(0, 0);
  box-shadow: 0.25rem 0.25rem 0 #000;

}

.icons>a i {
  margin-left: 1rem;
}

.aboutIcon {
  background-color: #36a9ae;
  color: #000;
}

.blogIcon {
  background-color: #36a9ae;
  color: #000;
}

.projectsIcon {
  background-color: #36a9ae;
  color: #000;
}

.contactIcon {
  background-color: #36a9ae;
  color: #000;
}

/*---------- 
Contact-Start
-----------*/

/* ----
modal-Start
----- */

.modal {
  position: absolute;
  left: 0%;
  top: 0%;
  z-index: 1;
  width: 100%;
  border: 0;
  height: 100%;
  background-color: rgb(0 0 0 / .3)
}

.modal-content {
  position: absolute;
  left: 40%;
  top: 40%;
  background: #fff;
  padding: 1rem;
  width: 50ch;
  border: 0;
  box-shadow: 0 0 1em rgb(0 0 0 / .3);
  animation: anime .5s ease-in-out 0;
}

.modal-content>p {
  cursor: pointer;

}

.modal-content>img {
  width: 100%;
}

.modal-btn {

  display: inline-block;
  text-transform: none;
  text-align: center;
  vertical-align: center;
  padding: 0.375rem 0.75rem;
  margin-top: 1rem;
  border-radius: 0.25rem;
  border: 1px solid #000;
  background-color: #ff0000;
  color: #fff;
  cursor: pointer;
  transition-property: box-shadow;
  transition-timing-function: ease-out;
  transition-duration: 0.14s;
  transition-delay: 0s;
}



.modal-btn:hover {
  box-shadow: 0.25rem 0.25rem 0 #000;
}



dialog::backdrop {
  background: #000101;
}

.modal-login {
  display: inline-block;
  text-transform: none;
  text-align: center;
  vertical-align: center;
  padding: 0.375rem 0.75rem;
  margin: 0.0100rem;
  border-radius: 0.25rem;
  border: 1px solid #000;
  background-color: #ff90e8;
  color: #000;
  cursor: pointer;
  transition-property: box-shadow;
  transition-timing-function: ease-out;
  transition-duration: 0.14s;
  transition-delay: 0s;
}

.modal-login:hover {
  box-shadow: 0.25rem 0.25rem 0 #000;
}

/* ----
modal-End
----- */


.card-about {
  position: relative;
  max-width: 840px;
  max-height: auto;
  border: 1px solid #000;
}
.about-img {
  width: 200px;
  margin-left: 5rem;
}

.about-img>img {
  width: 100%;
}

.card-about>.about-body {
  position: absolute;
  max-width: 640px;
  top: 0%;
  left: 100%;
}

.side{
display: flex;
flex-direction: row;
}










.border {
  border: 0.0625rem solid #000;
  border-radius: 0.25rem;
}